{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
    <div class="row">
        <div class="col-md-3">
           <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">Name</th>
                  <th scope="col">Age</th>
                  <th scope="col">Email</th>
                  <th scope="col"> </th>
                </tr>
              </thead>
              <tbody>
              {% for student in student_list%}
                <tr>
                  <th scope="row">{{ student.id }}</th>
                  <td>{{ student.name }}</td>
                  <td>{{ student.age }}</td>
                  <td>{{ student.email }}</td>
                  <td>
                      <a href="{% url "student_edit" student_id=student.id%}" class="btn btn-success">Edit</a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
{% endblock content %}