<html>
    <head>
        <title>Texstings?!</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/">Textings</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                  Level
                </a>
                <div class="dropdown-menu">
                    {% for group in groups %}
                        <a class="dropdown-item" href="{% url "levels" group_name=group.name %}">{{ group.name }}</a>
                    {% endfor %}
                </div>
              </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url "students" %}">All students <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        <a class="btn btn-danger" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                       <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
                    {% endif %}
                </li>
            </ul>
          </div>
            <form action="{% url 'search' %}" method="get" class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" name="q" aria-label="Search">
              <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>

        </nav>
        <div class="container">
            <br>
            {% block content %}
            {% endblock content %}
        </div>


        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    </body>
</html>
