{% extends "base.html" %}
{% block content %}
 <form action="." method="post">{% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td>
                <button type="submit" class="btn btn-success">Create</button>
            </td>
        </tr>
    </table>
</form>
{% endblock content%}