{% extends "base.html" %}
{% load core_tags %}
{% block content %}

    <div class="row">
        {% for course in course_list %}
        <div class="col-md-3">
            <div class="card" style="margin-bottom: 10px;">
              <div class="card-body">
                <h5 class="card-title">{{ course.name }}</h5>
                <p class="card-text">{{ course.description }}</p>
                <p>
    <!--                {% for teacher in course_list %}-->
                        <a href="tech">{{ course.teacher.name }}</a>
    <!--                {% endfor %}-->
                </p>
                <p>
                    {% for group in course.group.all %}
                        <a href="#">{{ group.name }}</a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <a href="#" class="btn btn-primary">Subscribe</a>
                <a href="{% url "course_edit" course.id %}" class="btn btn-success">Edit</a>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <h2 class="text-center"> Five products </h2>
    </div>
    <div class="row">
        {% get_five %}
    </div>
    <div>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock content %}
