{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
<form method="post">{% csrf_token %}
    <table>
        {% bootstrap_form form %}
        <tr>
            <td>
                <button type="submit" class="btn btn-success">Login</button>
            </td>
        </tr>
    </table>
</form>
{% endblock content%}