{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>Your searched for {{ searched }}, length of searched word is {{ searched|length }}</h2>
        </div>
    </div>
    <div class="row">
        {% include "includes/course_loop.html" %}
        <h1></h1>
    </div>
{% endblock content %}