{% load core_tags %}
{% for course in course_list %}
    {% if course.id|divisibleby:2 %}
<!--    <h1> {{course.id}} </h1>-->
      <div class="col-md-3">
          <div class="card" style="margin-bottom: 10px;">
            <div class="card-body">
              <h5 class="card-title">{{ course.name }}</h5>
              <p class="card-text">{{ course.description }}</p>
              <p>
                  {% for teacher in course_list %}
                      <a href="tech">{{ course.teacher.name }}</a>
                  {% endfor %}
              </p>
              <p>
                  {% for group in course.group.all %}
                      <a href="#">{{ group.name }}</a>
                      {% if not forloop.last %}, {% endif %}
                  {% endfor %}
              </p>
              <a href="#" class="btn btn-primary">Subscribe</a>
              <a href="{% url "course_edit" course.id %}" class="btn btn-success">Edit</a>
            </div>
          </div>
      </div>
    {% endif %}
{% endfor %}
